@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: 'M PLUS Rounded 1c', "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.5;
  color: #2A2323;
  font-size: 1.6rem;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body p::-moz-selection, body h1::-moz-selection, body h2::-moz-selection, body h3::-moz-selection, body h4::-moz-selection, body h5::-moz-selection, body a::-moz-selection, body img::-moz-selection, body td::-moz-selection, body th::-moz-selection {
  background: #FF9B5D;
  color: #FFFAF2;
}

body p::selection, body h1::selection, body h2::selection, body h3::selection, body h4::selection, body h5::selection, body a::selection, body img::selection, body td::selection, body th::selection {
  background: #FF9B5D;
  color: #FFFAF2;
}

body p::-moz-selection, body h1::-moz-selection, body h2::-moz-selection, body h3::-moz-selection, body h4::-moz-selection, body h5::-moz-selection, body a::-moz-selection, body img::-moz-selection, body td::-moz-selection, body th::-moz-selection {
  background: #FF9B5D;
  color: #FFFAF2;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

header {
  width: 35rem;
  height: 100vh;
  color: #FFFAF2;
  background-color: #2A2323;
  position: fixed;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header img {
  padding: 4rem 4rem 2.8rem 4rem;
}

@media (max-width: 949px) {
  header {
    left: -120%;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  header img {
    padding: 7.3rem 4rem 2.8rem 4rem;
  }
}

@media (max-width: 599px) {
  header {
    width: 31rem;
  }
  header img {
    padding: 7.3rem 2rem 1.2rem 2rem;
  }
}

@media (max-width: 949px) {
  header.panelactive {
    left: 0;
  }
}

nav li {
  padding: 1.2rem 4rem;
  -webkit-transition: .4s;
  transition: .4s;
}

nav li:hover {
  background-color: #3F3939;
}

nav li i {
  margin-right: 1rem;
}

@media (max-width: 599px) {
  nav li {
    padding: 1.2rem 2rem;
  }
}

.nav-select {
  background-color: #3F3939;
}

footer {
  padding-bottom: 4rem;
  padding-left: 4rem;
}

footer i {
  font-size: 3.4rem;
  margin-bottom: 1.5rem;
  -webkit-transition: .4s;
  transition: .4s;
}

footer i:hover {
  color: #00acee;
}

footer p {
  font-size: 1.4rem;
}

.nav-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-dot {
  margin-right: 1rem;
}

main {
  margin: 0 0 0 35rem;
  background-image: url("../img/bg.svg");
  background-size: contain;
  padding-bottom: 10rem;
  padding-top: 10rem;
}

@media (max-width: 949px) {
  main {
    margin: 0;
  }
}

.main-index {
  padding-top: 0;
}

.first-view {
  max-width: 100rem;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  position: relative;
}

.first-view img {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.profile {
  max-width: 100rem;
  margin: 0 auto;
  border-radius: 20px;
  background-color: rgba(255, 250, 242, 0.7);
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 599px) {
  .profile {
    width: 89%;
    margin: 0 auto;
  }
}

.profile-contents {
  width: 60%;
  min-width: 60rem;
  padding: 8rem 0;
  margin: 0 auto;
  text-align: center;
}

.profile-contents img {
  width: 25rem;
  height: 25rem;
}

@media (max-width: 599px) {
  .profile-contents {
    width: 88%;
    min-width: 0;
    padding: 4rem 0;
  }
  .profile-contents img {
    width: 100%;
    height: 100%;
  }
}

.sany {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media (max-width: 599px) {
  .sany {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sany-sns {
  width: 3rem;
  height: 3rem;
  background-color: #2A2323;
  border-radius: 50%;
  font-size: 1.8rem;
  color: #FFFAF2;
  margin-left: 1rem;
  position: relative;
  -webkit-transition: .4s;
  transition: .4s;
}

.sany-sns i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sany-sns:hover {
  background-color: #00acee;
}

.sany-name {
  font-size: 7.5rem;
  font-weight: 500;
}

@media (max-width: 599px) {
  .sany-name {
    font-size: 6rem;
  }
}

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 599px) {
  .profile-container {
    display: block;
    margin-top: 2.5rem;
  }
}

.profile-right {
  width: 53%;
}

.profile-right p {
  text-align: justify;
}

@media (max-width: 599px) {
  .profile-right {
    width: 100%;
  }
}

.icon-credit {
  font-size: 1.4rem;
  text-align: right;
}

.icon-credit a {
  border-bottom: dotted 2px #FF9B5D;
}

.bar {
  display: none;
}

@media (max-width: 949px) {
  .bar {
    display: block;
    width: 4rem;
    height: 4rem;
    background-color: rgba(42, 35, 35, 0.5);
    border-radius: 10px;
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 2;
    cursor: pointer;
    margin: 0;
  }
}

.bar i {
  color: #FFFAF2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wait {
  max-width: 100rem;
  margin: 0 auto;
  border-radius: 20px;
  background-color: rgba(255, 250, 242, 0.7);
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 6.4rem;
  font-weight: 500;
  text-align: center;
  padding: 13.4rem 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

@media (max-width: 599px) {
  .wait {
    width: 89%;
    margin: 0 auto;
  }
}

.main-wait {
  height: 100vh;
  position: relative;
}

.section-bms {
  max-width: 100rem;
  margin: 0 auto;
  border-radius: 20px;
  background-color: rgba(255, 250, 242, 0.7);
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}

@media (max-width: 599px) {
  .section-bms {
    width: 89%;
    margin: 0 auto;
  }
}

.bms-contents {
  padding-top: 8rem;
}

.bms-container {
  width: 84%;
  margin: 0 auto;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 599px) {
  .bms-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.bms-item {
  width: 31%;
  background-color: #FFFAF2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 3rem;
}

.bms-item:nth-child(-n+3) {
  margin-top: 0;
}

.bms-item img {
  width: 100%;
}

@media (max-width: 599px) {
  .bms-item {
    width: 26rem;
  }
  .bms-item:nth-child(2) {
    margin-top: 3rem;
  }
  .bms-item:nth-child(3) {
    margin-top: 3rem;
  }
}

.bms-item-title {
  margin: 1.6rem 0;
}

.bms-item-title h2 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: .5rem;
}

.sabun-contents {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media (max-width: 76rem) {
  .table-wrap {
    overflow-x: scroll;
  }
}

table {
  width: 84%;
  min-width: 84rem;
  margin: 0 auto;
  margin-top: 5rem;
  background-color: #FFFAF2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

tr {
  height: 4.2rem;
  border-bottom: 0.1rem dotted #FF9B5D;
}

tr:last-child {
  border-bottom: none;
}

th {
  background-color: #FF9B5D;
  color: #FFFAF2;
  text-align: center;
  padding: 1rem 0;
  border-right: 0.2rem solid #FFFAF2;
}

th:last-child {
  border-right: none;
}

td {
  padding: 1rem;
}

td a {
  border-bottom: dotted 2px #FF9B5D;
}

.td-left {
  text-align: left;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-bg {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
}

.modal-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-75%, -50%);
          transform: translate(-75%, -50%);
  background-color: #FFFAF2;
  border-radius: 20px;
  padding: 5rem;
  max-width: 70rem;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90vh;
}

.modal-contents img {
  width: 60rem;
  height: 45rem;
}

@media (max-width: 949px) {
  .modal-contents {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 599px) {
  .modal-contents {
    width: 89%;
    padding: 4rem 2rem 2rem 2rem;
    height: 75vh;
  }
  .modal-contents img {
    width: 29.5rem;
    height: 22.1rem;
  }
}

.modal-contents-title {
  margin-top: 1.5rem;
}

.modal-contents-title h3 {
  font-size: 3.6rem;
}

@media (max-width: 599px) {
  .modal-contents-title h3 {
    font-size: 2.4rem;
  }
}

.modal-contents-title h2 {
  font-size: 4.8rem;
  font-weight: 500;
}

@media (max-width: 599px) {
  .modal-contents-title h2 {
    font-size: 3.6rem;
  }
}

.modal-contents-detail {
  width: 40rem;
  text-align: left;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  margin-bottom: 5rem;
}

.dif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dif p {
  margin-right: .8rem;
}

.dif-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dif-item {
  position: relative;
  margin-right: .2rem;
}

.dif-item:last-child {
  margin-right: 0;
}

.dif-item p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.beginner {
  width: 3rem;
  height: 3rem;
  background-color: #3BE8B0;
}

.normal {
  width: 3rem;
  height: 3rem;
  background-color: #1AAFD0;
}

.hyper {
  width: 3rem;
  height: 3rem;
  background-color: #FFB900;
}

.another {
  width: 3rem;
  height: 3rem;
  background-color: #FC636B;
}

.insane {
  width: 3rem;
  height: 3rem;
  background-color: #6A67CE;
}

.dl {
  width: 20rem;
  color: #FF9B5D;
  background-color: #FFFAF2;
  font-size: 2.4rem;
  border-radius: 10px;
  border: 2px solid #FF9B5D;
  padding: 1.3rem 2rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.dl:hover {
  background-color: #FF9B5D;
  color: #FFFAF2;
}

.dl i {
  margin-left: 3rem;
}

.close {
  text-align: right;
  margin-top: 4rem;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */